<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      
        <button 
          class="navbar-toggle" 
          type="button" 
          data-toggle="collapse" 
          data-target="#contentId">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand">Mahasiswa</a>
      <div class="collapse navbar-collapse" id="contentId">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="#">home</a>
          </li>
        </ul>
      </div>

    
    </div>
  </div>
</nav>
