<form>
  <div class="form-row ml-3 mt-2">
    <label class="col-sm-2" style="margin-top: 7px;">
      Nama Lengkap
    </label>
    <div class="col-sm-6">
      <input type="text" class="form-control" #studentName>
    </div>
  </div>
  <div class="form-row ml-3 mt-2">
    <label class="col-sm-2" style="margin-top: 7px;">
      NIM
    </label>
    <div class="col-sm-6">
      <input type="text" class="form-control" #studentNIM>
    </div>
  </div>
  <div class="form-row ml-3 mt-2">
    <label class="col-sm-2" style="margin-top: 7px;">
      Alamat
    </label>
    <div class="col-sm-6">
      <input type="text" class="form-control" #studentAlamat>
    </div>
  </div>
  <fieldset class="form-group">
    <div class="form-row ml-3 mt-2">
      <label class="col-sm-2" style="margin-top: 7px;">
        Jenis Kelamin
      </label>
      <div class="col-sm-3">
        <div class="form-check form-check-inline" style="margin-top: 7px;">
          <input #studentJnsKel type="radio" name="jnsKel" id="l" value="l" style="padding: 10px 10px 5px;" (change)=onChange($event)>
          <label #studentJnsKel class="form-check-label">
            Laki - laki
          </label>
        </div>
        <div class="form-check form-check-inline" style="margin-top: 7px;">
          <input #studentJnsKel type="radio" name="jnsKel" id="p" value="p" style="padding: 10px 10px 5px;">
          <label #studentJnsKel class="form-check-label">
            Perempuan
          </label>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="form-row ml-3 mt-2">
    <label class="col-sm-2" style="margin-top: 7px;">
      Jurusan
    </label>
    <div class="col-sm-6">
      <select class="custom-select custom-select-sm" #studentJurusan>
        <option selected>-- Pilih Jurusan--</option>
        <option value="1">Teknologi Informasi</option>
        <option value="2">Teknik Kimia</option>
        <option value="3">Administrasi Niaga</option>
      </select>
    </div>
  </div>
  <div class="form-row ml-3 mt-2">
    <label class="col-sm-2" style="margin-top: 7px;">
      Program Studi
    </label>
    <div class="col-sm-6">
      <input type="text" class="form-control" #studentProdi>
      <select class="custom-select custom-select-sm" #studentProdi>
        <option selected>-- Pilih Prodi--</option>
        <option value="1">D3 Manajemen Informatika</option>
        <option value="2">D4 Teknik Informatika</option>
      </select>
    </div>
  </div>
  <div class="form-row ml-3 mt-2">
    <label class="col-sm-2" style="margin-top: 7px;">
      Father
    </label>
    <div class="col-sm-6">
      <input type="text" class="form-control" #studentFather>
    </div>
  </div>
  <div class="form-row ml-3 mt-2">
    <label class="col-sm-2" style="margin-top: 7px;">
      Mother
    </label>
    <div class="col-sm-6">
      <input type="text" class="form-control" #studentMother>
    </div>
  </div>
</form>