<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<h3>Input Data Mahasiswa</h3>

<!-- <div class="form-group">
  <label>
    Nama Mahasiswa :
  </label>

  <input #heroName />

  <label>
    NIM :
  </label>

  <input #heroNIM />
</div>

<button 
(click)="add(heroName.value, heroNIM.value); 
heroName.value=''">
  add
</button> -->

<!-- modal -->

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Tambah Data Mahasiswa</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form>
    <div class="modal-body">

      <div class="form-row ml-3 mt-2">
        <label class="col-sm-2" style="margin-top: 7px;">
          Nama Lengkap
        </label>
        <div class="col-sm-6">
          <input type="text" class="form-control" #studentName>
        </div>
      </div>
      <div class="form-row ml-3 mt-2">
        <label class="col-sm-2" style="margin-top: 7px;">
          NIM
        </label>
        <div class="col-sm-6">
          <input type="text" class="form-control" #studentNIM>
        </div>
      </div>
      <div class="form-row ml-3 mt-2">
        <label class="col-sm-2" style="margin-top: 7px;">
          Alamat
        </label>
        <div class="col-sm-6">
          <input type="text" class="form-control" #studentAlamat>
        </div>
      </div>
      <fieldset class="form-group">
        <div class="form-row ml-3 mt-2">
          <label class="col-sm-2" style="margin-top: 7px;">
            Jenis Kelamin
          </label>
          <div class="col-sm-3">
            <div class="form-check form-check-inline" style="margin-top: 7px;">
              <input #studentJnsKel type="radio" name="jnsKel" id="l" value="l" style="padding: 10px 10px 5px;"
                (change)=onChange($event)>
              <label #studentJnsKel class="form-check-label">
                Laki - laki
              </label>
            </div>
            <div class="form-check form-check-inline" style="margin-top: 7px;">
              <input #studentJnsKel type="radio" name="jnsKel" id="p" value="p" style="padding: 10px 10px 5px;"
                (change)=onChange($event)>
              <label #studentJnsKel class="form-check-label">
                Perempuan
              </label>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="form-row ml-3 mt-2">
        <label class="col-sm-2" style="margin-top: 7px;">
          Jurusan
        </label>
        <div class="col-sm-6">
          <input type="text" class="form-control" #studentJurusan>
        </div>
      </div>
      <div class="form-row ml-3 mt-2">
        <label class="col-sm-2" style="margin-top: 7px;">
          Program Studi
        </label>
        <div class="col-sm-6">
          <input type="text" class="form-control" #studentProdi>
        </div>
      </div>
      <div class="form-row ml-3 mt-2">
        <label class="col-sm-2" style="margin-top: 7px;">
          IPK Terakhir
        </label>
        <div class="col-sm-6">
          <input type="text" class="form-control" #studentIPK>
        </div>
      </div>
      <div class="form-row ml-3 mt-2">
        <label class="col-sm-2" style="margin-top: 7px;">
          Father
        </label>
        <div class="col-sm-6">
          <input type="text" class="form-control" #studentFather>
        </div>
      </div>
      <div class="form-row ml-3 mt-2">
        <label class="col-sm-2" style="margin-top: 7px;">
          Mother
        </label>
        <div class="col-sm-6">
          <input type="text" class="form-control" #studentMother>
        </div>
      </div>


    </div>
  </form>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<button class="btn btn-outline-primary mb-2 mr-2" (click)="openVerticallyCentered(content)">Modal vertically centered</button>


<!-- akhir modal -->

<div class="ml-2 container-fluid">
  <form>
    <div class="form-row ml-3 mt-2">
      <label class="col-sm-2" style="margin-top: 7px;">
        Nama Lengkap
      </label>
      <div class="col-sm-6">
        <input type="text" class="form-control" #studentName>
      </div>
    </div>
    <div class="form-row ml-3 mt-2">
      <label class="col-sm-2" style="margin-top: 7px;">
        NIM
      </label>
      <div class="col-sm-6">
        <input type="text" class="form-control" #studentNIM>
      </div>
    </div>
    <div class="form-row ml-3 mt-2">
      <label class="col-sm-2" style="margin-top: 7px;">
        Alamat
      </label>
      <div class="col-sm-6">
        <input type="text" class="form-control" #studentAlamat>
      </div>
    </div>
    <fieldset class="form-group">
      <div class="form-row ml-3 mt-2">
        <label class="col-sm-2" style="margin-top: 7px;">
          Jenis Kelamin
        </label>
        <div class="col-sm-3">
          <div class="form-check form-check-inline" style="margin-top: 7px;">
            <input #studentJnsKel type="radio" name="jnsKel" id="l" value="l" style="padding: 10px 10px 5px;" (change)=onChange($event)>
            <label #studentJnsKel class="form-check-label">
              Laki - laki
            </label>
          </div>
          <div class="form-check form-check-inline" style="margin-top: 7px;">
            <input #studentJnsKel type="radio" name="jnsKel" id="p" value="p" style="padding: 10px 10px 5px;">
            <label #studentJnsKel class="form-check-label">
              Perempuan
            </label>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="form-row ml-3 mt-2">
      <label class="col-sm-2" style="margin-top: 7px;">
        Jurusan
      </label>
      <div class="col-sm-6">
        <input type="text" class="form-control" #studentJurusan>
      </div>
    </div>
    <div class="form-row ml-3 mt-2">
      <label class="col-sm-2" style="margin-top: 7px;">
        Program Studi
      </label>
      <div class="col-sm-6">
        <input type="text" class="form-control" #studentProdi>
      </div>
    </div>
    <div class="form-row ml-3 mt-2">
      <label class="col-sm-2" style="margin-top: 7px;">
        Father
      </label>
      <div class="col-sm-6">
        <input type="text" class="form-control" #studentFather>
      </div>
    </div>
    <div class="form-row ml-3 mt-2">
      <label class="col-sm-2" style="margin-top: 7px;">
        Mother
      </label>
      <div class="col-sm-6">
        <input type="text" class="form-control" #studentMother>
      </div>
    </div>
  </form>

</div>
<div class="col-sm-8 container-fluid" style="padding: 15px 0px 0px 0px;">
  <div class="d-flex justify-content-end">
    <div>
      <button type="button" class="btn btn-primary text-white" (click)="add(
                  studentName.value, 
                  studentNIM.value, 
                  studentAlamat.value,
                  studentJurusan.value,
                  studentProdi.value,
                  studentFather.value,
                  studentMother.value); 
                  studentName.value='';
                  studentNIM.value = '';
                  studentAlamat.value = '';
                  studentJurusan.value = '';
                  studentProdi.value = '';
                  studentFather.value = '';
                  studentMother.value = ''">
        add
      </button>
    </div>
    <div style="padding: 0px 10px 10px">
      <button type="button" class="btn btn-default" (click)="
      studentName.value = '';
      studentNIM.value = '';
      studentAlamat.value = '';
      studentJurusan.value = '';
      studentProdi.value = '';
      studentFather.value = '';
      studentMother.value = ''">
        Cancel
      </button>
    </div>
  </div>
</div>

<!-- <form [formGroup]="
      form">
      <label>
        <input type="radio" value="Male" formControlName="gender">
        <span>male</span>
      </label>
      <label>
        <input type="radio" value="Female" formControlName="gender">
        <span>female</span>
      </label>
      </form> -->



<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NIM</th>
      <th scope="col">Nama</th>
      <th scope="col">JK</th>
      <th scope="col">Alamat</th>
      <th scope="col">Jurusan</th>
      <th scope="col">Prodi</th>
      <th scope="col">IPK</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students" routerLink="/detail/{{student.id}}">
      <th scope="row">
        {{ student.id }}
      </th>
      <td>
        {{ student.nim }}
      </td>
      <td>
        {{ student.name }}
      </td>
      <td>
        {{ student.jnsKelamin }}
      </td>
      <td>
        {{ student.alamat }}
      </td>
      <td>
        {{ student.jurusan }}
      </td>
      <td>
        {{ student.prodi }}
      </td>
      <td>
        {{ student.IPK }}
      </td>
      <td>
        <button class="btn btn-danger" title="delete student" (click)="delete(student)"> X </button>
      </td>
    </tr>
  </tbody>
</table>





<div class="col-sm-11 container-fluid">
  <ul class="students">
    <li *ngFor="let student of students">
      <a routerLink="/detail/{{student.id}}">
        <span class="badge">{{student.id}}</span> {{student.name}}
      </a>
      <button class="delete" title="delete student" (click)="delete(student)"> x </button>
    </li>
  </ul>
</div>