<!-- <h2>My Heroes</h2> -->
<!-- <ul class="heroes">
  <li 
    *ngFor="let hero of heroes" 
    (click)="onSelect(hero)" 
    [class.selected]="hero === selectedHero"
  >
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul> -->


<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->



<!-- //structure directive -->

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<h2>My Heroes</h2>

    <div class="form-group">
      <label>
        Nama Mahasiswa :
      </label>
      
      <input #heroName />
    </div>
    <button (click)="add(heroName.value); heroName.value=''">
      add
    </button>

<!-- <div>
  <label>Hero name:
    <input #heroName />
  </label> -->
  <!-- (click) passes input value to add() and then clears the input -->
  <!-- <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div> -->

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete" title="delete hero"
      (click)="delete(hero)"> x </button>
  </li>
</ul>