<div *ngIf="student">
  <h2>{{student.name | uppercase}} Details</h2>


  <div></div>


  <div class="card bg-light">
    <div class="card-body text-left">
      <span>id: </span><b> {{student.id}} </b>
    </div>
    <div class="card-body text-left">
      <label>nama:
        <input [(ngModel)]="student.name" placeholder="name" />
        <!-- ngModel untuk mengupdate, dimana data nantinya langsung berkomunikasi dengan controller -->
      </label>
    </div>
    <div class="card-body text-left">
      nim
      <input [(ngModel)]="student.nim">
    </div>
    <div class="card-body text-left">
      <b>alamat</b>
      <p class="card-text">
        {{student.alamat}}
      </p>
    </div>
    <div class="card-body text-left">
      <b>Jenis Kelamin</b>
      <p class="card-text">
        {{student.jnsKelamin}}
      </p>
    </div>
    <div class="card-body text-left">
      <b>Jurusan</b>
      <p class="card-text">
        {{student.jurusan}}
      </p>
    </div>
    <div class="card-body text-left">
      <b>Program Studi</b>
      <p class="card-text">
        {{student.prodi}}
      </p>
    </div>
    <div class="card-body text-left">
      <b>IPK Terakhir</b>
      <p class="card-text">
        {{student.IPK}}
      </p>
    </div>
    <div class="card-body text-left">
      <b>Father</b>
      <p class="card-text">
        {{student.namaBapak}}
      </p>
    </div>
    <div class="card-body text-left">
      <b>Mother</b>
      <p class="card-text">
        {{student.namaIbu}}
      </p>
    </div>
  </div>
  <br />
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>

<div class="container">
  <form>
    <div class="form-group row">
      <label for="inputName" class="col-sm-1-12 col-form-label"></label>
      <div class="col-sm-1-12">
        <input type="text" class="form-control" name="inputName" id="inputName" placeholder="">
      </div>
    </div>
    <fieldset class="form-group row">
      <legend class="col-form-legend col-sm-1-12">Group name</legend>
      <div class="col-sm-1-12">

      </div>
    </fieldset>
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Action</button>
      </div>
    </div>
  </form>
</div>